server:
  port: 8081
  error:
    include-message: always

spring:
  application:
    name: incidentes_y_solicitudes

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/${DB_NAME:postgres}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:geo}
    driver-class-name: org.postgresql.Driver

  docker:
    compose:
      enabled: false
      file: compose.yaml
      lifecycle-management: start-and-stop

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        default_schema: incidentes_db
        format_sql: true
        jdbc:
          time_zone: UTC

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    schemas: incidentes_db
    default-schema: incidentes_db
    out-of-order: true

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8081/dummy

jwt:
  secret: ${JWT_SECRET:mi-secreto-super-seguro-para-generar-tokens-jwt-en-el-proyecto-incidentes}
  expiration: ${JWT_EXPIRATION:86400000}

logging:
  level:
    root: INFO
    com.altamira.incidentes_y_solicitudes: DEBUG
    org.hibernate.SQL: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
  endpoint:
    health:
      show-details: always
